@import '../../styles/mixins';
.zone {
  width: 120px !important;
}
.aside-container {
  border-right: 1px solid #898787;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  padding-top: 1.5rem;
  background-color: white;
  z-index: 10000;
  padding-left: 5px;
  padding-right: 5px;
  width: 120px;
  @include mobile {
    border-right: none;
    border-top: 1px solid #898787;
    top: auto;
    bottom: 0;
    width: 100%;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 100;
    margin-left: 209px;
  }
  @include small-tablet {
    border-right: none;
    border-top: 1px solid #898787;
    top: auto;
    bottom: 0;
    width: 100%;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 100;
  }
  &.hidden {
    display: none;
  }
  &.block {
    display: block;
  }

  ul {
    margin-top: 1.5rem;
    list-style-type: none;
    @include mobile {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
    }
    @include small-tablet {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
    }

    &:first-of-type {
      margin-top: 0;
    }

    li {
      background-color: white;
      align-items: center;
      text-align: center;
      margin-top: 0.25rem;
      margin-bottom: 1rem;
      cursor: pointer;
      padding: 1rem;
      border-radius: 20px;
      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0.5rem;
        border-radius: 0;
      }
      @include small-tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0.5rem;
        border-radius: 0;
      }
      i {
        color: black;
        font-size: 25px;
        margin-bottom: 15px;
        @include mobile {
          font-size: 30px;
          &:hover {
            color: #f4a91e;
          }
        }
        @include small-tablet {
          margin-bottom: 10px;
        }
      }

      p {
        color: black;
        font-size: 15px;
        @include mobile {
          font-size: 25px;
        }
        @include small-tablet {
          font-size: 20px;
        }
      }

      &:hover {
        background-color: #f9eac4;
        @include mobile {
          background-color: #f8f8f8;
        }
        @include small-tablet {
          background-color: #f8f8f8;
        }
      }
    }
  }
}
