@import '../../styles/index.scss';

.edit-profile-container {
  display: block;
  margin-top: 15px;
  background-color: #f7b483;
  min-height: 100vh;

  
  h2 {
    margin-left: 30px;
  }
  .edit-profile-header {
    display: flex;
    margin-top: 30px;
    gap: 100px;
    justify-content: center;
    @include mobile {
      display: flex;
      flex-direction: column;
    }
    .edit-profile-infos-container{
      border: 1px #827f77 solid 0.7 ;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
      padding: 50px;
      background-color: #fff;
      .edit-profile-infos {
        display: block;
        width: 350px;
        @include mobile {
          margin-left: 40px;
        }
        @include small-tablet {
          margin-right: 40px;
          width: 50%;
        }
        @include tablet {
          width: 50%;
          margin-right: 80px;
        }
        .edit-profile-info-folder,
        .edit-profile-info-folder1,
        .edit-profile-info-folder2,
        .edit-profile-info-folder3 {
          .edit-profile-textarea {
            margin-top: 10px;
          }
        }
        .edit-profile-info-describe {
          .edit-profile-textarea {
            margin-top: 10px;
          }
        }
      }

    }
    
    
  }
  .edit-profile-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    justify-content: center;
    gap: 300px;
    margin-bottom: 50px;
    @include mobile {
      gap: 40px;
      margin-left: 10px;
    }
    @include small-tablet {
      gap: 100px;
    }
    .edit-profile-submit {
      display: block;
      .edit-profile-submit-button {
        background-color: #ffb626;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        width: 140px;
        cursor: pointer;
        margin-top: 20px;
      }
      .edit-profile-submit-button:hover {
        background-color: #ffaa00;
        opacity: 0.7;
      }
    }
    .edit-profile-cancel {
      .edit-profile-cancel-button {
        background-color: #a9a7a2;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        width: 140px;
        cursor: pointer;
        margin-top: 20px;
      }
      .edit-profile-cancel-button:hover {
        background-color: #827f77;
      }
    }
  }
}
