@import '../../styles/index.scss';
.course-page-container{
  display: flex;
  justify-content: center;
}
.course-page {
  display: flex;
  align-items: start;
  width: 100%;
  
  @include tablet {
    flex-direction: column;
    
    width: 80%;
  }

  @include small-tablet {
    flex-direction: column;
   
  }

  @include mobile {
    flex-direction: column;
    
  }

  .course-basic-left {
    flex: 60%;
    
    margin-top: -40px;

    @include tablet {
      flex: 100%;
      margin-left: 0;
      padding: 0 20px;
      
    }

    @include small-tablet {
      flex: 100%;
      margin-left: 0;
      padding: 0 20px;
    }

    @include mobile {
      flex: 100%;
      margin-left: 0;
      padding: 0 10px;
    }

    .course-header {
      padding: 20px;
      
      button {
        margin-top: 10px;
        color: #999;
      }

      h1 {
        margin-bottom: 10px;
        font-size: 2.2rem;
        margin-top: 40px;
        font-weight: bold;

        @include tablet {
          font-size: 2rem;
        }

        @include small-tablet {
          font-size: 1.8rem;
        }

        @include mobile {
          font-size: 1.5rem;
          margin-top: 20px;
        }
      }

      p {
        margin-bottom: 20px;
        width: 50%;
        font-size: 1rem;
        font-weight: 500;
        opacity: 0.8;

        @include tablet {
          width: 100%;
        }

        @include small-tablet {
          width: 100%;
        }

        @include mobile {
          width: 100%;
        }
      }
    }

    .course-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1200px;
      

      @include tablet {
        flex-direction: column;
        
      }

      @include small-tablet {
        flex-direction: column;
       
      }

      @include mobile {
        flex-direction: column;
        
      }

      .lesson-content {
        width: 748px;
        background-color: white;
        border-radius: 8px;
        padding: 0 10px;
        max-height: 90vh;
        overflow-y: auto;

        @include tablet {
          width: 100%;
        }

        @include small-tablet {
          width: 100%;
        }

        @include mobile {
          width: 100%;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;

        h2 {
          margin-top: 0;
          font-size: 1.8rem;
          font-weight: bold;

          @include tablet {
            font-size: 1.6rem;
          }

          @include small-tablet {
            font-size: 1.4rem;
          }

          @include mobile {
            font-size: 1.2rem;
          }
        }

        .section {
          margin-bottom: 10px;

          &-header {
            padding: 15px;
            background-color: rgba(217, 217, 217, 0.5);
            border-radius: 10px;
            cursor: pointer;

            .title {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-weight: bold;

              .arrow {
                font-size: 12px;
              }
            }
          }

          &-content {
            padding: 10px;
            background-color: #fff;
            border-top: none;
            border-radius: 0 0 4px 4px;

            .item {
              display: flex;
              justify-content: space-between;
              padding: 10px;
              border-radius: 5px;
              cursor: pointer;

              &:not(:last-child) {
                border-bottom: 1px solid #eee;
              }

              .duration {
                color: #999;
              }

              &:hover {
                background-color: rgba(255, 166, 0, 0.229);
                color: $primary-color;

                .duration {
                  color: $primary-color;
                }
              }

              @include tablet {
                flex-direction: column;
                align-items: flex-start;
              }

              @include small-tablet {
                flex-direction: column;
                align-items: flex-start;
              }

              @include mobile {
                flex-direction: column;
                align-items: flex-start;
              }
            }
          }
        }
      }
    }
  }

  .course-basic-right {

    display: flex;
    justify-content: center;
    margin-top: 40px;

   
    @include tablet {
      margin-top: 20px;
      width: 100%;
    }

    @include small-tablet {
      margin-top: 20px;
      width: 100%;
      margin-bottom: 100px;
    }

    @include mobile {
      margin-top: 20px;
      width: 100%;
      margin-bottom: 100px;
    }

    .course-video {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 500px;
      height: 300px;

      @include mobile{
        width: 350px;
        height: 280px;
        
      }
      img {
        max-width: 70%;
        border-radius: 8px;
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(2, 2, 2, 0.1);;

        @include tablet {
          max-width: 100%;
        }

        @include small-tablet {
          max-width: 100%;
        }

        @include mobile {
          max-width: 100%;
        }
      }
      video {
        max-width: 70%;
        border-radius: 8px;
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(2, 2, 2, 0.1);;

        @include tablet {
          max-width: 100%;
        }

        @include small-tablet {
          max-width: 100%;
        }

        @include mobile {
          max-width: 100%;
        }
      }

      button {
        width: 40%;
        margin-top: 10px;
        background: linear-gradient(45deg, #F4B81E, #F67102);
        padding: 10px;
        font-weight: bold;
        color: white;
        border: none;
        cursor: pointer;

        @include tablet {
          width: 60%;
        }

        @include small-tablet {
          width: 60%;
        }

        @include mobile {
          width: 50%;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
