@import '../../styles/mixins';




header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;



    img {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        
        

        li {
            margin-right: 20px;

            a {
                text-decoration: none;
                color: #333;
                font-size: 17px;
                font-family: Arial, Helvetica, sans-serif;
                transition: color 0.2s ease;

                &:hover {
                    color: #555;
                }
            }
        }
    }
}
@include mobile{
    header{
       ul{
        display: none;
       }
    }
}

.banner {
    background-color: #ffff;
    padding: 40px 0;
    padding-top: 100px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;


    .banner-tittle {
        width: 40%;
        padding-right: 20px;

        h1 {
            font-size: 40px;
            margin-bottom: 40px;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 20px;
            font-family: Arial, Helvetica, sans-serif;
            opacity: 0.8;

        }
    }

    .banner-img {
        width: 50%;

        img {
            width: 100%;
            height: auto;
            border-radius: 30px;
            box-shadow: 1px 1px 10px #f45f0f80;
            transform: rotate(.447deg);
            transition: transform 0.55s ease-in-out;


        }

        img:hover {
            transform: scale(1.05);

        }
    }
    @include small-tablet {
        flex-direction: column;
        width: 90%;
    
        .banner-tittle, .banner-img {
          width: 100%;
          padding: 0;
          text-align: center;
        }
    
        .banner-tittle {
          padding-bottom: 20px;
        }
        
      }
      @include tablet {
        flex-direction: column;
        width: 90%;
    
        .banner-tittle, .banner-img {
          width: 100%;
          padding: 0;
          text-align: center;
        }
    
        .banner-tittle {
          padding-bottom: 20px;
        }
        
      }

      @include mobile {
        flex-direction: column;
        width: 80%;
        margin-left: 40px;
    
        .banner-tittle, .banner-img {
          width: 100%;
          padding: 0;
          text-align: center;
        }
    
        .banner-tittle {
          padding-bottom: 20px;
        }

      }
      
}

.banchunhiem {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;


    .title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 70px;
        font-style: normal;
        text-shadow: 2px 2px 2px rgba(83, 82, 81, .5);
        font-family: Arial;
        color: #000;
        margin-top: 50px;
    }

    .cards {
        display: flex;
        justify-content: center;
        gap: 90px;

        .card {
            width: 260px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(2, 2, 2, 0.1);
            overflow: hidden;
            background-color: #ffff;
            border-radius: 20px;
            transition: transform 0.35s ease-in-out;


            img {
                width: 80%;
                height: 250px;
                margin-top: 20px;
                object-fit: cover;
                border-radius: 25px;
            }

            .card-content {
                padding: 20px;
                text-align: center;

                .name {
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                }

                .position {
                    font-size: 16px;
                    margin-bottom: 20px;
                    color: #f37335;
                    ;
                    font-weight: 700;
                    font-family: Arial, Helvetica, sans-serif;
                }

                a {
                    text-decoration: none;
                    color: rgb(0, 68, 255);
                    font-size: 28px;
                }
            }
        }

        .card:hover {
            transform: translateY(-20px);
        }
    }

    @include small-tablet {
        .title{
                margin-top: 650px;
        }
        
        .cards {
            flex-direction:column;
            gap: 20px;
            align-items: center;
            margin-bottom: 80px;
            
            
            
        }
    }
    @include mobile{
        .title{
            
            font-size: 35px;
        }
        .cards {
            flex-direction:column;
            gap: 40px;
            align-items: center;
            margin-bottom: 190px;  
               
        }
    }
    @include tablet{
        margin-top: 600px;
        .cards {
            gap: 40px;
            align-items: center;
                
        }
        
    }
}


.cacban {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;

    .title {
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 60px;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(83, 82, 81, .5);
        font-family: Arial, Helvetica, sans-serif;

        @include mobile{
            font-size: 35px;
            width: 90%;
        }
    }

    .teams,
    .departments {
        display: flex;
        gap: 5rem;


        .team,
        .department {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin-top: 10px;
                margin-bottom: 1rem;
                margin-right: 3px;

                &:first-child {
                    border-radius: 12px;
                }
            }

            p {
                color: #312f2f;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 22px;
                margin: 0;
                text-align: center;
                margin-left: 5px;
            }
        }
    }

    @include small-tablet {

        .teams,
        .departments {
            flex-direction: column;
            gap: 20px;
        }
    }
    @include mobile{
        .teams,
        .departments {
            flex-direction: column;
            gap: 40px;
            width: 80%;
           
        }
    
    }
    

}


.vechungtoi {
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;


    h1 {
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 60px;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(83, 82, 81, 0.5);
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 70px;
        @include mobile{
            margin-top: 120px;
            font-size:35px;
           
        
        }
    
    }
    

    .container-section {
        display: flex;

        .image-container img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 1px 1px 10px #f45f0f80;
            margin-left: -60px;
            margin-top: 20px;
        }

        .image-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .section {
            margin-bottom: 40px;

            .section-title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
                color: #333;

                .highlight1 {
                    background: linear-gradient(77deg, #f05220 -2.83%, #ffb904);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 18px;
                    font-weight: bold;

                }

            }

            .section-content {
                line-height: 1.6;
                color: #555;

                h2 {
                    color: #000;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    margin-bottom: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 2px 2px 2px rgba(83, 82, 81, .5);
                }

                p {
                    color: #7e7979;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                }

                .activity-container {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-bottom: 20px;

                    .activity-item {
                        margin: 10px;

                        .highlight {
                            background: linear-gradient(77deg, #f05220 -2.83%, #ffb904);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 30px;
                            margin: 12px 0 0;
                            color: #000;
                            font-size: 30px;
                            font-style: normal;
                            font-weight: 700;
                            margin-top: 10px;
                            text-align: center;
                            text-shadow: 2px 2px 2px rgba(83, 82, 81, .5);
                        }

                        p {
                            color: #7e7979;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 30px;


                        }
                    }
                }
            }
        }

        @include small-tablet {
            flex-direction: column;
            .image-container img{
                width: 80%;
                margin-left: 1px;
            }
        }

        @include mobile{
            flex-direction: column;
            .image-container img{
                width: 80%;
                margin-left: 1px;
            }
        }
    }

    .container-section1 {
        display: flex;

        .image-container1 img {
            border-radius: 20px;
            box-shadow: 0 0 10px #f0791e80;
            height: 350px;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
            width: 450px;
        }

        .image-container1 {
            border-style: none;
        }

        .section1 {
            margin-bottom: 40px;
            width: 50%;
            margin-right: 50px;

            .section-title1 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
                color: #333;

                .highlight1 {
                    background: linear-gradient(77deg, #f05220 -2.83%, #ffb904);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 18px;
                    font-weight: bold;

                }

            }

            .section-content1 {
                line-height: 1.6;
                color: #555;

                h2 {
                    color: #000;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    margin-bottom: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                    text-shadow: 2px 2px 2px rgba(83, 82, 81, .5);
                }

                p {
                    color: #7e7979;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                }
            }

        }     
    }
    
    @include small-tablet {
        .container-section1 {
          flex-direction: column;
          align-items: center;
          .section1 {
            width: 100%;
            margin-right: 0;
          }
          .image-container1 img {
            width: 100%;
            margin-top: 10px;
          }
        }
      }
      @include mobile{
        .container-section1 {
            flex-direction: column;
            align-items: center;
            .section1 {
              width: 90%;
              margin-right: 0;
            }
            .image-container1 img {
              width: 100%;
              margin-top: 10px;
            }
          }
      }
}

.caclophoc {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    h1 {
        margin-top: 130px;
        margin-bottom: 50px;
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 70px;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(83, 82, 81, 0.5);
        font-family: Arial, Helvetica, sans-serif;

        @include mobile{
            font-size: 35px;
        }

    }


    .card1-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        width: 70%;


        .card1 {
            align-items: center;
            background: #fff;
            border-radius: 20px;
            box-shadow: 0 4px 10px #00000040;
            display: flex;
            flex-direction: column;
            height: max-content;
            justify-content: space-evenly;
            padding: 16px 16px 32px;
            transition: all .3s;
            height: 300px;


            img {
                width: 100px;
                height: 100px;
            }

            .card-content {
                text-align: center;

                .card-title {
                    color: #7e7979;
                    color: #000;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 500;
                    font-weight: 700;
                    line-height: 30px;

                }

                .card-text {
                    color: #7e7979;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                    margin: 8px 2px;

                }

            }

        }

        .card1:hover {
            transform: translateY(-10px);
        }

    }
    @include tablet{
        .card1-list {
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            width: 90%;
            
          }
    }
    @include small-tablet {
        .card1-list {
          grid-template-columns: repeat(2, 1fr);
          gap: 40px;
          width: 80%;
          
        }
      }
    
      @include mobile {
        .card1-list {
          grid-template-columns: 1fr;
          gap: 40px;
          width: 70%;
        }
      }
}

.hoidap {
    max-width: 1024px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 600px;

    h1 {
        color: #000;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 60px;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(83, 82, 81, 0.5);
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 70px;

        @include mobile{
            font-size: 35px;
        }
    }



    .content {
        background-color: #fff;
        border-radius: 5px;
        height: 500px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        display: flex;
        width: 100%;

        .image-container {
            text-align: center;
            margin-bottom: 20px;
            width: 90%;
            margin-top: 60px;

            img {

                max-width: 90%;
                height: auto;
                border-radius: 5px;

                box-shadow: 1px 1px 10px #f45f0f80;

            }
        }

        .section1 {
            margin-bottom: 40px;
            margin-top: 40px;


            .faq {
                display: flex;
                align-items: center;
                padding: 10px;
                border-bottom: 1px solid #ccc;

                .faq-question {
                    flex: 1;
                    font-weight: bold;
                }

                .faq-answer {
                    flex: 3;
                    margin-left: 20px;
                    display: none;
                    font-size: 14px;
                }

                .faq-arrow {
                    margin-top: -10px;
                    font-size: 1.5em;
                    margin-left: 10px;
                    cursor: pointer;
                    transition: transform 0.3s ease;
                }


            }
        }
    }
    @include tablet{
      h1{
        margin-top: -50px;
      }
    }
    @include small-tablet {
        h1{
            margin-top: 700px;
        }
        .content {
          flex-direction: column;
          height: 800px;
          width: 95%;
          margin-left: 25px;
    
          .image-container {
            margin: 0;
            width: 100%;
          }
        }
    }
    @include mobile {
        h1{
            margin-top: 2990px;
        }
        .content {
          flex-direction: column;
          height: 800px;
          margin-left: 15px;
          width: 90%;
          align-content: center;
          .image-container {
            margin: 0;
            width: 100%;
          }
        }
    }

}