.films {
  margin-top: 50px;
  margin-left: 160px;
  position: relative;
  .title-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

    .view-all {
      margin-right: 10px;
      border: 1px solid black;
      padding: 5px;
      cursor: pointer;
    }
  }
  .film-list {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    padding-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    .film-item {
      position: relative;
      min-width: 25%;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }

      .poster {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .film-title,
      .film-year,
      .film-quality {
        position: absolute;
      }

      .film-title {
        bottom: 0;
        color: white;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: orange;
        width: 100%;
        padding: 0.5rem 1rem;
      }

      .film-year {
        padding: 2px 4px;
        margin: 4px 15px;
        border-radius: 5px;
        top: 0;
        left: 0;
        font-size: 13px;
        background-color: orange;
      }

      .film-quality {
        top: 1rem;
        left: 0;
        color: black;
        font-size: 8px;
        background-color: white;
        border-radius: 5px;
        padding: 2px 4px;
        margin: 10px 15px;
      }
    }
  }

  .fa-solid {
    position: absolute;
    top: 50%;
    cursor: pointer;
    border-radius: 20px;
    width: 2rem;
    height: 2rem;
    padding: 8px 11px;
    transform: translateY(-50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
    color: white;
    z-index: 10;
    &.fa-chevron-left {
      left: 10px;
    }
    &.fa-chevron-right {
      right: 10px;
    }
  }
}
