.more-course {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-top: 20px;
  margin-right: 60px;
  .name {
    font-size: 30px;
    font-weight: 700;
  }
  .button-course {
    border-radius: 6px;
    background: linear-gradient(94deg, #f4b81e 78.55%, #f67102 106.63%);
    font-size: 16px;
    color: white;
    border: 1px solid #f4b81e;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
  }
}
