.edit-sub-folder {
  display: block;
  margin-left: 70px;
  .edit-sub-folder-header {
    display: flex;
    margin-top: 30px;
    .edit-upload-file {
      display: block;
      background: rgba(247, 247, 247, 0.6);
      width: 450px;
      height: 250px;
      position: relative;
      border-radius: 10px;
      .edit-icon-upload {
        width: 100%;
        position: absolute;
        display: block;
        text-align: center;
        & > section {
          & > ul {
            list-style-type: none;
          }
          display: block;
          text-align: left;
        }
        .edit-nameFile {
          margin-top: 35px;
          margin-left: 60px;
        }
        .edit-boxUpload {
          margin-top: 45px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .edit-boxIcon {
            display: flex;
            justify-content: center;
            width: 100px;
            height: 100px;
            background-color: #f0eeee;
            border-radius: 100%;
            .edit-iconUpload {
              cursor: pointer;
              width: 80px;
              height: 80px;
            }
          }
        }
      }
      .edit-input-upload {
        position: absolute;
        margin-top: 195px;
        display: flex;
        justify-content: center;
        width: 100%;
        & > input {
          display: none;
        }
        .edit-button-upload {
          background-color: #ffb626;
          border: none;
          border-radius: 6px;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
    .edit-infors {
      display: block;
      margin-left: 110px;
      .edit-infor-folder {
        & > input {
          margin-bottom: 50px;
          width: 355px;
          padding: 15px 15px;
          border-radius: 10px;
          background: #f0eeee;
          outline: none;
          border: none;
        }
      }
      .edit-infor-describe {
        height: 200px;
        width: 355px;
        padding: 15px 15px;
        border-radius: 10px;
        background: #f0eeee;
        & > input {
          width: 325px;
          padding: 15px 15px;
          border-radius: 10px;
          background: #f0eeee;
          border: none;
          outline: none;
        }
      }
    }
  }
  .pots-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    gap: 300px;
    margin-bottom: 50px;
    .edit-post-button,
    .edit-post-button-cancel {
      background-color: #ffb626;
      border: none;
      border-radius: 10px;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      width: 145px;
      cursor: pointer;
    }
  }
}
