.create-folder-container {
  background-color: white;
  padding: 32px 40px;
  border: 2px solid #e0f2f3;
  box-shadow: 0 0 12px rgba(0 0 0 /10%);
  border-radius: 10px;
  width: 50%;
  height: 415px;
  display: block;
  margin-top: 40px;
  & > h2 {
    text-align: center;
  }

  .new-infors {
    display: block;
    .new-infor-describe {
      height: 125px;
      .new-textarea {
        margin-top: 10px;
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    gap: 10px;
    .cancel-button,
    .create-button {
      padding: 10px 20px;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      width: 50%;
    }
    .create-button {
      background-color: #f4b81e;
      color: white;
    }
    .cancel-button {
      background-color: #f0f0f0;
      color: #333;
    }
  }
}
