@import '../../styles/index.scss';

.create-folder-container {
  background-color: white;
  padding: 32px 40px;
  border: 2px solid #e0f2f3;
  box-shadow: 0 0 12px rgba(0 0 0 /10%);
  border-radius: 10px;
  width: 50% ;
  height: 415px;
  display: block;
  margin-top: 40px;

  @include mobile{
    width: 80% !important;
    
  }
  @include small-tablet{
    width: 80%;
   
  }
  & > h2 {
    text-align: center;
  }

  .new-infors {
    display: block;
    .new-infor-describe {
      height: 125px;
      .new-textarea {
        margin-top: 10px;
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    gap: 10px;
    .cancel-button,
    .create-button {
      padding: 10px 20px;
      cursor: pointer;
      border: none;
      border-radius: 10px;
      width: 50%;

      @include mobile{
        margin-top: -30px;
        font-size: 10px;
      }
      @include small-tablet{

      }
    }
    .create-button {
      background-color: #f4b81e;
      color: white;
    }
    .create-button:hover{
      background-color: #f4b81e ;
      opacity: 0.8;
    }
    .cancel-button {
      background-color: #f0f0f0;
      color: #333;
      opacity: 1;
    }
    .cancel-button:hover{
      background-color: #bebaba;
      opacity: 0.9;
    }
  }
}
