@import '../../styles/index.scss';

.get-otp{

    .button-otp{
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
        font-weight: 600;
        background:rgba(128, 128, 128, 0.111);

        &:hover{
            background-color: $primary-color;
            color: white;
            transition: ease-out 300ms;
        }
    }
}

@media screen and (max-width: 1024px) {
    .button-otp{
        width: 20%;
        font-size: larger;
    }
}

@media screen and (max-width: 767.98px) {
    .button-otp{
        width: 30%;
    }

    .get-otp{
        #otp{
            width:90%;
        }
    }
    
}


