@import '../../styles/index.scss';
.course-list-containers {
  display: flex;
  justify-content: space-around;
  padding: 20px;

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  .course-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    padding-left: 20px;

    @include mobile {
      margin-bottom: 40px;
    }
    @include small-tablet {
      margin-top: -10px;
    }

    .course-img {
      width: 250px;
      height: 180px;
      .course-logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & > h2 {
      margin-top: 10px;
    }
    .edit-course-button {
      border-radius: 10px;
      padding: 10px;
      margin-left: 15px;
      width: 150px;
      font-size: 15px;
      color: white;
      background-color: #f4b81e;
      border: none;
      cursor: pointer;
    }
    .cancel-course-button {
      border-radius: 10px;
      padding: 10px;
      margin-left: 15px;
      width: 150px;
      font-size: 15px;
      color: white;
      background-color: #aeadaa;
      border: none;
      cursor: pointer;
    }
  }
  .row2 {
    display: flex;
    width: 750px;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    padding: 20px;
    justify-content: space-between;
    border-radius: 10px;

    @include mobile {
      width: 100%;
      height: 300px;
    }
    @include small-tablet {
      width: 60%;
    }
    @include tablet {
      width: 60%;
    }
    .course-contents {
      width: 100%;
      max-width: 600px;
      display: block;
      margin-right: 50px;

      .sections {
        .section {
          background-color: #f9f9f9;
          border: 1px solid #f9f9f9;
          border-radius: 10px;
          .section-header {
            border-radius: 10px;
            cursor: pointer;
            .section-folder-header {
              padding: 15px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              background-color: rgba(217, 217, 217, 0.5);
              border-radius: 10px;
              margin-bottom: 10px;
              cursor: pointer;
              & > h3 {
                flex-grow: 1;
              }
            }

            .section-actions {
              display: flex;
              gap: 10px;
              .edit-icon,
              .add-icon,
              .delete-icon {
                cursor: pointer;
              }
            }
          }
        }
        .section-items {
          border-radius: 10px;
          margin-bottom: 10px;
          padding: 10px;
          background-color: #f9f9f9;
          border-top: none;

          .section-item {
            display: flex;
            justify-content: space-between;
            height: 30px;
            background-color: white;

            border-radius: 5px;
            cursor: pointer;
            & > p {
              padding-left: 15px;
            }
            .item-actions {
              padding-right: 10px;
              & > svg {
                margin-left: 10px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .buttons {
      width: 140px;

      .create-section-button {
        border-radius: 10px;
        padding: 10px;
        margin-left: 15px;
        width: 120px;
        font-size: 15px;
        color: white;
        background-color: #f4b81e;
        border: none;
        cursor: pointer;
      }
    }
  }
}
.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.react-confirm-alert {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.react-confirm-alert-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.react-confirm-alert-button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    width: 86px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f4b81e;
    color: white;
    font-size: 16px;

    &:hover {
      background-color: darken(#f4b81e, 10%);
    }
  }
}
