.result-list {
  width: 41rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px gray;
  top: 58px;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  cursor: pointer;
  z-index: 9999999999;
  .search-result {
    padding: 10px 20px;
  }
  .search-result:hover {
    background-color: #efefef;
  }
}
