@import '../../styles/index.scss';


.lesson {


  &-box {
    display: flex;

    @include mobile {
      display: block;
    }

    @include small-tablet {
      display: block;
    }

    @include tablet {
      display: block;
    }
  }

  &-left {
    .goback {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }

    padding: 20px;
    width: 70%;
    min-height: 90vh;
    border-right: 1px solid black;

    @include mobile {
      border: none;
      width: 100%;
      padding: 0;
    }

    @include small-tablet {
      border: none;
      width: 100%;
      padding: 0;
    }

    @include tablet {
      border: none;
      width: 100%;
      padding: 0;
      min-height: 50vh;
    }
  }

  &-box {
    display: flex;
    position: relative;
    overflow: hidden;



  }

  &-left {
    // position: absolute;
    scrollbar-width: none;
    padding: 20px;
    width: 70%;
    min-height: 90vh;
    border-right: 1px solid black;
    overflow-y: scroll;

    @include mobile {
      border: none;
      width: 100%;
      padding: 0;
    }

    @include small-tablet {
      border: none;
      width: 100%;
      padding: 0;
    }

    @include small-tablet {
      width: 100%;
    }

    @include tablet {
      width: 100%;
      margin-left: 7px;
    }
  }

  &-right {
    padding: 30px;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;

  }

  &-comment {
    position: relative;
    left: 85%;
    width: fit-content;

    @include mobile {
      left: 68%;
      margin-top: 20px;
    }



    @include tablet {
      left: 78%;
    }

    & button {
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: red;
      gap: 10px;
      border-radius: 20px;
    }
  }

  &-right {
    padding: 30px;
  }

  &-footer {
    background-color: rgba(128, 128, 128, 0.055);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .button-footer {
      display: flex;
      justify-content: center;
    }
  }
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 174px;
  border-radius: 10px;
  color: gray;
  outline: none;
  border: none;
  background: transparent;
}

.btn {
  border: 1px solid $primary-color;
  color: $primary-color;
  margin-left: 10px;
}

.player {
  .player-banner {

    overflow: hidden;
    border-radius: 36px;
  }

  &-des {
    margin-top: 24px;
  }

  .showImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .showVideo {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }


}

.des {
  &-box {
    display: flex;
    justify-content: space-between;
  }

  &-container {}

  &-left {}

  &-right {
    width: 30%;

    & .button-des {
      display: flex;
      justify-content: end;
      gap: 24px;

      & .btn-des {
        background-color: transparent;
        border: none;
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 10px;
        outline: none;
      }
    }
  }
}

.sub {
  color: rgba(128, 128, 128, 0.725);
}

.eye {
  display: flex;
  align-items: center;
  gap: 5px;
}

.list-box {
  margin-left: 20px;
  margin-top: 20px;
}

.link {
  color: $primary-color;
  cursor: pointer;
}

.comment-box {
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
}


.lesson-right {
  .course-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;


    @include tablet {
      flex-direction: column;

    }

    @include small-tablet {
      flex-direction: column;

    }

    @include mobile {
      flex-direction: column;

    }

    .lesson-content {
      //   width: 748px;
      background-color: white;
      border-radius: 8px;
      padding: 0 10px;
      max-height: 90vh;
      overflow-y: auto;

      @include tablet {
        width: 100%;
      }

      @include small-tablet {
        width: 100%;
      }

      @include mobile {
        width: 100%;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      scrollbar-width: none;

      h2 {
        margin-top: 0;
        font-size: 1.8rem;
        font-weight: bold;

        @include tablet {
          font-size: 1.6rem;
        }

        @include small-tablet {
          font-size: 1.4rem;
        }

        @include mobile {
          font-size: 1.2rem;
        }
      }

      .section {
        margin-bottom: 10px;

        &-header {
          padding: 15px;
          background-color: rgba(217, 217, 217, 0.5);
          border-radius: 10px;
          cursor: pointer;

          .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;

            .arrow {
              font-size: 12px;
            }
          }
        }

        &-content {
          padding: 10px;
          background-color: #fff;
          border-top: none;
          border-radius: 0 0 4px 4px;

          .item {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;

            &:not(:last-child) {
              border-bottom: 1px solid #eee;
            }

            .duration {
              color: #999;
            }

            &:hover {
              background-color: rgba(255, 166, 0, 0.229);
              color: $primary-color;

              .duration {
                color: $primary-color;
              }
            }

            @include tablet {
              flex-direction: column;
              align-items: flex-start;
            }

            @include small-tablet {
              flex-direction: column;
              align-items: flex-start;
            }

            @include mobile {
              flex-direction: column;
              align-items: flex-start;
            }
          }
        }
      }
    }
  }
}

.button-dis {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  button {
    padding: 15px;
    width: 10%;
    border: none;
    cursor: pointer;

    &#cancel {
      background-color: white;
      outline: none;
      border: 1px solid $primary-color;

    }

    &#send {
      background-color: greenyellow;
      transition-duration: 0.4s;

      &:hover {
        background-color: green;
      }

    }



  }


}


.comment-item {
  position: relative;

  &:hover {
    background-color: #f5f5f5;
    
  }

  .delete-comment {
    display: none;

  }
  
}

.text-comment {
  margin-top: 28px;

  .button-dis {
    padding: 12px 0;
    width: 100%;
    border-bottom: 1px solid #222;
    justify-content: space-between;
    input {
      outline: none;
      border: none;
      font-size: 16px;
      width: 84%;
      margin-bottom: -8px;
      background-color: transparent;

    }
    button{
      margin: 0;
      background-color: darkorange !important;
      color: white;
      font-size: 16px;
      border-radius: 6px;
      font-weight: 600;
    }
  }
}