@import '../../styles/index.scss';
// .progress-bar {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 9900;
// }
// body {
//   padding-right: 0 !important;
//   overflow: scroll;
// }
.create-new-course {
  display: block;
  h2{
    margin-left: 30px;
  }
  .new-courser-header {
    display: flex;
    margin-top: 30px;
    gap: 100px;
    justify-content: center;
    @include mobile{
      display: flex;
      flex-direction: column;
      
    }
    .new-upload-file {
      display: block;
      background: rgba(247, 247, 247, 0.6);
      width: 450px;
      height: 250px;
      position: relative;
      border-radius: 10px;
      @include mobile{
       width: 90%;
       margin-left: 30px;
      }

      @include small-tablet{
        width: 70%;
      }
      @include tablet{
        width: 70%;
        margin-left: 20px;
         
      }

      .new-icon-upload {
        width: 100%;
        position: absolute;
        display: block;
        text-align: center;
        & > section {
          & > ul {
            list-style-type: none;
          }
          display: block;
          text-align: left;
        }
        .new-nameFile {
          margin-top: 35px;
          margin-left: 60px;
        }
        .new-boxUpload {
          margin-top: 45px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .new-boxIcon {
            display: flex;
            justify-content: center;
            width: 70px;
            height: 70px;
            background-color: #f0eeee;
            border-radius: 100%;
            .new-iconUpload {
              cursor: pointer;
              width: 50px;
              height: 65px;
            }
          }
        }
      }
      .new-input-upload {
        position: absolute;
        margin-top: 195px;
        display: flex;
        justify-content: center;
        width: 100%;

        & > input {
          display: none;
        }
        .new-button-upload {
          background-color: #ffb626;
          border: none;
          border-radius: 6px;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
    .new-infors {
      display: block;
      width: 350px;
      @include mobile{
        margin-left: 40px;
      }
      @include small-tablet{
        margin-right: 40px;
        width: 50%;
      }
      @include tablet{
        width: 50%;
        margin-right: 80px;
      }
      .new-infor-describe {
        .new-textarea {
          margin-top: 10px;
        }
      }
      .new-button-class-type {
        display: block;
        margin-top: 10px;
       
        .new-box-button-type {
          display: flex;
          margin-top: 20px;
          gap: 50px;
          justify-content: center;
          .button-active,
          .button- {
            border: none;
            border-radius: 10px;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            width: 130px;
            cursor: pointer;
          }
          .button- {
            background-color: rgba(226, 225, 224, 0.6);
            color: rgba(36, 30, 30, 0.6);
          }
          .button-active {
            background-color: #ffb626;
          }
        }
      }
    }
  }
  .new-pots {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    justify-content: center;
    gap: 300px;
    margin-bottom: 50px;
    @include mobile{
      gap: 40px;
      margin-left: 10px;
    }
    @include small-tablet{
      gap: 100px;
    }
    .new-pots1 {
      display: block;
      .new-post-button {
        background-color: #ffb626;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        width: 140px;
        cursor: pointer;
        margin-top: 20px;
       
      }
      .new-post-button:hover{
        background-color:#ffaa00 ;
        opacity: 0.7;
      }
    }
    .new-pots2 {
      .new-post-button-cancel {
        background-color: #a9a7a2;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:17px;
        width: 140px;
        cursor: pointer;
        margin-top: 20px;
      }
      .new-post-button-cancel:hover{
        background-color: #827f77;
      }
    }
  }
}
