@import '../../styles//mixins';
.courses {
  position: relative;
 
  .back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    .xem_them {
      cursor: pointer;
      color: #f67102;
    }
  }
  .course-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 1rem;

    .course-item {
      position: relative;
      width: 100%;
      border-radius: 10px;
      .course-img {
        width: 100%;
        border-radius: 10px;
        height: 200px;
        object-fit: cover;
      }

      .course-name {
        width: 100%;
        height: 50px;
        text-align: center;
      }
      .infor {
        display: flex;
        bottom: 15px;
        justify-content: center;
        width: 100%;
        .luot-xem,
        .icon {
          color: black;
        }
        .icon {
          cursor: pointer;
        }
      }
      .button-course-leader-item {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: 0.6s;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        .edit,
        .delete {
          background: rgba(208, 201, 201, 0.4);
          width: 130px;
          height: 60px;
          color: white;
          border: none;
          padding: 10px;
          margin: 5px;
          cursor: pointer;
          border-radius: 50px;
          transition: background-color 0.3s ease;
          font-size: 1rem;
        }
      }
    }
  }
}
