@import '../../styles/mixins';
.banner-container {
  width: 100%;
  height: 100%;
  @include tablet {
    height: 100%;
    width: 100%;
  }
  @include small-tablet {
    width: 100%;
  }
  @include mobile{
    width: 100%;
  }
  .banner-slider {
    display: flex;
    transition: transform 0.5s ease; // chuyển động mượt ease hiệu ứng chuyển tiếp bắt đầu chậm, sau đó nhanh dần, rồi chậm lại trước khi kết thúc.
    @include tablet {
      height: 100%;
      width: 100%;
    }
    @include small-tablet {
      width: 100%;
    }
    .banner-item {
      flex: 0 0 100%;
      position: relative;
      @include tablet {
        height: 100%;
      }
      @include small-tablet {
        width: 100%;
      }

      .banner-image {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 8px;
        @include mobile {
          height: 250px;
          width: 100%;
        }
        @include tablet {
          width: 100%;
          height: 100%;
        }
        @include small-tablet {
          height: 250px;
          width: 100%;
        }
      }

      .banner-title {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
      }

      .banner-year {
        position: absolute;
        top: 70px;
        left: 20px;
        color: #fff;
        background-color: #777;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 20px;
      }
    }
  }

  .fa-solid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 32px;
    color: black;
    z-index: 10;

    &.fa-arrow-left {
      left: 20px;
    }

    &.fa-arrow-right {
      right: 20px;
    }
  }
}
