@import '../../styles//mixins';
.category-container {
  margin-right: 20px;
  @include small-tablet {
    margin-left: 20px;
    margin-bottom: 100px;
  }
  @include mobile {
    margin-right: 0;
  }
}
