@import '../../styles//mixins';
.courses {
  position: relative;
  margin-top: 36px;
  .back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    .xem_them {
      cursor: pointer;
      color: #f67102;
    }
  }
  .course-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 1.75rem;
    .course-item {
      position: relative;
      width: 100%;
      border-radius: 10px;
      width: 320px;
      box-shadow: 0 0 12px rgba(0 0 0 /10%);
      border: 1px solid #ccc;
      .course-img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        height: 200px;
        object-fit: cover;
      }

      .course-name {
        text-align: center;
        color: #f37335;
        font-size: 28px;
        font-weight: 700;
      }
      .infor {
        margin-top: 12px;
        @include flex(center, center);
        p {
          font-size: 17px;
          font-weight: 700;
        }
      }
      .button-course-leader-item {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: 0.6s;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        .edit,
        .delete {
          background: rgba(208, 201, 201, 0.4);
          width: 130px;
          height: 60px;
          color: white;
          border: none;
          padding: 10px;
          margin: 5px;
          cursor: pointer;
          border-radius: 50px;
          transition: background-color 0.3s ease;
          font-size: 1rem;
        }
      }
    }
  }
}
