.create-sub-folder {
  display: block;
  .sub-folder-header {
    display: flex;
    .upload-file {
      display: block;
    }
    .infors {
      display: block;
      .infor-folder {
        & > input {
          margin-bottom: 100px;
          width: 355px;
          padding: 15px 15px;
          border-radius: 10px;
          background: #f0eeee;
        }
      }
      .infor-describe {
        height: 300px;
        width: 355px;
        padding: 15px 15px;
        border-radius: 10px;
        background: #f0eeee;
        & > input {
          width: 355px;
          padding: 15px 15px;
          border-radius: 10px;
          background: #f0eeee;
        }
      }
    }
  }
}
